@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0044ff;
  --color-secondary: #0000dd;
  --font-sans: "Inter", sans-serif;
}

.dark {
  --color-primary: #00447c;
  --color-secondary: #475d8c;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}
